<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bidding Page</title>
</head>
<body>
	<h1>{{ service.name }} Bidding</h1>

	<form action="{% url 'bidding_app:bidding' %}" method="POST">
		{% csrf_token %}
		<input type="text" name="service_name" value="{{ service.id }}" hidden>
		<input type="number" name="bid_value" placeholder="Enter your bid value">
		<input type="submit" id="bid" value="Bid">
	</form>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script>
		$('#bid').on('click', function() {
			let text = "Press a button!\nEither OK or Cancel.";
			if (confirm(text) == false) {
				return null
			}
		})
	</script>
</body>
</html>