{% extends 'base.html' %}

{% block title_block %} Bidding Page {% endblock %}


{% block content_block %}
    <h1>{{ vendor.service_name }} Bidding</h1>

    {% if vendor.is_bid %}
        <h3> Your bid price is : {{ vendor.value }} </h3>
    {% else %}
        <form action="{% url 'bidding_app:bidding' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="service_name" value="{{ vendor.service_id }}" hidden>
            <input type="number" name="bid_value" placeholder="Enter your bid value">
            <input type="submit" id="bid" value="Bid">
        </form>
    {% endif %}

{% endblock %}
