{% extends 'base.html' %}

{% block title_block %} Home {% endblock %}


{% block content_block %}
	{% if not request.user.is_authenticated %}
		<h1> If you want to bid, Please login first </h1>
		<h2><a href="{% url 'user:login' %}">Login</a></h2>
	{% else %}
		<div>
			<h1>Bidding Items List</h1>
			<h3>Want to bid? If yes, Click on service link</h3>
			<div>
			{% for item in service_items %}
			  <p><b>
			  	{% if request.user.is_superuser %}
			  	<a href="{% url 'bidding_app:bidding-detail' id=item.id %}">{{ item.name }}</a>
			  	{% else %}
				<a href="{% url 'bidding_app:bid_page' id=item.id %}">{{ item.name }}</a>
			  	{% endif %}
			  </b></p>
			{% endfor %}
			</div>
		</div>
		<h1> If no </h1>
		<h2><a href="{% url 'user:logout' %}">Logout</a></h2>
	{% endif %}
{% endblock %}
