{% extends 'base.html' %}

{% block title_block %} Bidding Details {% endblock %}


{% block content_block %}

    {% if request.user.is_superuser %}
        <h1>{{ service_name }} Vendors</h1>
        <h4> Lowest Bidder Name - {{ lowest_bid.user.username }} </h4>
        <h4> Lowest Bidder Value - {{ lowest_bid.value }} </h4>
        <ul>
            {% for vendor in vendors %}
                <li> {{ vendor.user.username }} - {{ vendor.value }} </li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>You've no permission to access this page!!</h1>
    {% endif %}

{% endblock %}
